* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  padding-top: 5rem;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 2rem;
}

.green {
  color: green;
}
